;; Minimal my.cnf

[mysqld]
bind_address            = 0.0.0.0
port                    = 3306
innodb_buffer_pool_size = 128M
innodb_file_per_table   = ON

; Load custom configuration files
!includedir /mysql/my.cnf.d
